<h2><%= @arrangement.title %></h2>
<h4>Description:</h4>
<p></h4><%= @arrangement.description %></p>
<h4>Arrangement Height: <%= @arrangement.height %></h4>
<h4>Price: $<%= @arrangement.price %></h4>
