<h2>Orders (<%= @orders.length %>)</h2>
  <ul>
  <% @orders.each do |order| %>
    <li>
        <b><%= link_to " Order #{order.id}", arrangement_order_path(order.arrangement, order) %></b><br>
        <%= link_to "#{order.arrangement.title}", arrangement_path(order.arrangement) %><br>
        <%= order.created_time %><br>
    </li>
  <% end %>
 </ul>
   