<h2>Orders (<%= @orders.length %>)</h2>
  <ol>
  <% @orders.each do |order| %>
    <li>
        <b><%= link_to " Order #{order.id}", arrangement_order_path(order.arrangement, order) %> - Created at  <%= created_time order %></b><br>
    </li>
  <% end %>
 </ol>
   