<h1>Welcome to the Flowers For Me App</h1>
<h3>Subscribe to Our Flower Delivery Service and Get Fresh Flower Arrangements Every Week!</h3>
<br></br>
<p>With Flower For Me you can choose to recieve a one time flower delivery, or a repeated delivery of once a week, two weeks, three weeks or a month. 
   All you have to do is sign up, browse through our amazing collection and order your favorite arrangement.</p> 